/* .registerbutton{
    background-color: #00ccffbf;
} */

.learnmore {
  background-color: #f801d7bf;
}
.bodybutton {
  gap: 3vh;
}



.maintext {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}
