*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page__text {
  margin: auto;
  position: relative;
  font-size: clamp(4rem, 7vw, 8rem);
}

.text::before {
  animation: anim 1s linear;
  color: red;
  position: absolute;
  top: 0;
  left: -2px;
  width: 0;
  overflow: hidden;
  content: attr(data-text);
}

@keyframes anim {
  50%, 80% {
    width: 100%;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.home h1 {
  font-size: 3rem;
  color: #333;
}

.fade-animation{
  scale: 0.8;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 50px 36%;
}

@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
  }
}
