@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  z-index: -2;
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  overflow: auto;
  width: fit-content;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles are behind content */
  pointer-events: none; /* Allow interactions with elements behind particles */
}

.particle-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10; /* Push the canvas behind content */
  background-color: black;
  display: block;
  overflow: hidden; /* Prevent any potential scrolling */
}

.text-container span {
  display: inline;
  transform: translateY(0);
}

/* Ensure full-screen coverage on different devices */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@media (max-width: 425px){
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: clip;
  }
}

@media (max-width: 600px) {
  .preloader-container {
    font-size: smaller;
    padding: 20px; /* Adjust padding for smaller devices */
  }
  .text-container h1 {
    gap: 0.3rem; /* Tighter gap for small screens */
  }
}

/* Navbar-specific styles */
.navbar .hamburger {
  display: block;
}

.menu-links {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .navbar .hamburger {
    display: none; /* Hide hamburger menu on larger screens */
  }

  .menu-links {
    display: flex !important; /* Ensure links are always visible on larger screens */
  }
}

/* Reduce excessive spacing */
body {
  margin: 0;
  padding: 0;
}

.text-animate,
.image-animate {
  margin-bottom: 1rem;
}


::selection {
  background-color:#A855f7
  ; /* Change background to violet */
  color: white; /* Change text color to white (optional) */
}
